<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightcrawler.popularmovies">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChoiceActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".stage2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stage3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movieReviews"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movieTrailers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".favourites"
            android:screenOrientation="portrait" />

        <provider
            android:name=".data.FavMoviesContentProvider"
            android:authorities="com.nightcrawler.popularmovies"
            android:exported="false" />

        <activity
            android:name=".Discover"
            android:screenOrientation="portrait" />
        <activity
            android:name=".searchContent"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".Activities.MainActivity" /> -->
        <activity android:name=".PeopleActivity"/>
    </application>

</manifest>